---
layout: default
title: Data Era - A blog for data mining and machine learning.
---
<div id="spin">
	<img src="styles/img/spin.jpg">
</div>

<div class="section_title">Newest!</div>

<ul>
	{% assign counter = 0 %}
	{% for post in site.posts %}
	{% if post.published == true and counter < {{site.newest_max}} %}
		{% assign counter = counter | plus:1  %}
		<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
	{% endfor %}
</ul>


<div class="section_title">Featured</div>

<div id="featured">
	<i><h3>Data Mining</h3></i>
	<ul>
		{% assign name = 'data mining' %}
		{% for post in site.posts %}
			{% if post.published == true and post.quality >= 3 %}
				{% assign pass = true %}
				{% if post.category %}
					{% if post.category != empty and post.category == name %}
						{% assign pass = false %}
					{% endif %}
				{% else %}
					{% for category in post.categories %}
						{% if category == name %}
							{% assign pass = false %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if pass == false %}	
				<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>

	<i><h3>Machine Learning</h3></i>
	<ul>
		{% assign name = 'machine learning' %}
		{% for post in site.posts %}
			{% if post.published == true and post.quality >= 3 %}
				{% assign pass = true %}
				{% if post.category %}
					{% if post.category != empty and post.category == name %}
						{% assign pass = false %}
					{% endif %}
				{% else %}
					{% for category in post.categories %}
						{% if category == name %}
							{% assign pass = false %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if pass == false %}	
				<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>

	<i><h3>Miscellaneous</h3></i>
	<ul>
		{% assign name = 'miscellaneous' %}
		{% for post in site.posts %}
			{% if post.published == true and post.quality >= 3 %}
				{% assign pass = true %}
				{% if post.category %}
					{% if post.category != empty and post.category == name %}
						{% assign pass = false %}
					{% endif %}
				{% else %}
					{% for category in post.categories %}
						{% if category == name %}
							{% assign pass = false %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if pass == false %}	
				<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>

</div>

