body{
  background-color:#ddd;}
#rounded_rectangle{                                                   /*圆角矩形外部整体div*/
	margin: 0 auto;
	width:666px;                                          /*自定宽度*/
	height:100%;}                                        /*自定高度*/
/*-------------顶边开始-------------------*/
#r_top{
	height:27px;}
#r_top_left{
	width:27px;
	height:27px;
	background-image:url(../img/top_left.png);
	background-repeat:no-repeat;
	float:left;}
#r_top_right{
	width:27px;
	height:27px;
	background-image:url(../img/top_right.png);
	background-repeat:no-repeat;
	float:right;}
#r_top_middle{
	margin:0 27px;
	height:27px;
	background-image:url(../img/top.png);
	background-repeat:repeat-x;}
/*-------------顶边结束-------------------*/
/*-------------中部----------------------*/
#r_center{
	width:100%;
	height:100%;}
#r_center_left{
	width:27px;
	height:100%;
	background-image:url(../img/left.png);
	background-repeat:repeat-y;
	float:left;}
#r_center_right{
	width:27px;
	height:100%;
	background-image:url(../img/right.png);
	background-repeat:repeat-y;
	float:right;}
#r_center_middle{                            /*r_center_middle为内容区*/
	margin:0 27px;
	height:100%;
	background-color:#FFFFFF;}
/*----------------中部结束---------------*/
/*----------------底边开始---------------*/
#r_bottom{
	height:27px;}
#r_bottom_left{
	width:27px;
	height:27px;
	background-image:url(../img/bottom_left.png);
	background-repeat:no-repeat;
	float:left;}
#r_bottom_right{
	width:27px;
	height:27px;
	background-image:url(../img/bottom_right.png);
	background-repeat:no-repeat;
	float:right;}
#r_bottom_middle{
	margin:0 27px;
	height:27px;
	background-image:url(../img/bottom.png);
	background-repeat:repeat-x;}
/*----------------底边结束--------------*/
