---
layout: default
title: Ting Chen's blog on big data era.
---
<link href="/styles/css/about.css" type="text/css" rel="stylesheet"/>

<div id = "content_wrapper">
<div id = "content">
<br/><br/>


<div id="binfo">
<div class="linfo">
<div class="head">Ting Chen</div> 
<div class="body"><i>Last Year Undergrad.</i><br/>
School of Computer Science<br/>
Beijing University of Posts and Telecommunications<br/><br/>
<b><i>Contact</i></b><br/>
 iamtingchen [aT] gmail (D0T) com<br/><br/>
<b><i>Dynamic info flow</i></b>
<p>
<a href="http://weibo.com/chentingpc" title = 'My SinaWeib' target = 'blank'><img src = '/styles/img/about/weibo.ico'/></a>
<a href="http://www.douban.com/people/chentingpc" title = 'My Douban' target = 'blank'><img src = '/styles/img/about/douban.ico'/></a>
<a href="http://twitter.com/chentingpc" title = 'My Twitter' target = 'blank'><img src = '/styles/img/about/twitter.ico'/></a>
<a href="http://www.facebook.com/chentingpc" title = 'My Facebook' target = 'blank'><img src = '/styles/img/about/facebook.ico'/></a>
<a href="http://github.com/chentingpc" title = 'My Github' target = 'blank'><img src = '/styles/img/about/github.ico'/></a>
</p>
</div>
</div>
<!--img src="/styles/img/about/myself.jpg" alt="chentingpc" width="165px" height="240px"/-->
<!--img src="/styles/img/about/colorsep.gif" width="800px" height="2px"/-->
</div>
<br/>
<br/>
<br/>
<hr/>

<div id = "statement">
<p>I enjoy thinking and designing solutions for all kinds of real world problems with especially passion and focus on Data Mining, Machine Learning and everything related. One long-term goal: Model and utilize the real world data and human knowledge to make the world a better place. Welcome to contact me to talk about all kinds of interesting ideas.</p>
</div>

<div class="content_info" id="new"> 
<div class="content_intent1">
<h4><font color = "red">What's New</font></h4> 
<div class="content_intent2">
<ul>
<li><font color = 'red'>I am going to NEU/Boston in August!</font></li>
</ul>
</div>
</div>
</div>

<div class="content_info" id="interests"> 
<div class="content_intent1">
<h4>Research Interests</h4>
<div class="content_intent2">
<ul> 
<li>Large-Scale Information Network Analysis, Knowledge Network, Social Network Analysis.</li>
<li>Text Mining, Web Mining, Graph Mining.</li>
<li>Data Mining, Machine Learning, Information Retrieval.</li>
</ul>  
</div>	
</div>
</div>

<div class="content_info" id="keywords"> 
<div class="content_intent1">
<h4>Personal Interests</h4>
<div class="content_intent2">
<ul> 
<li>Philosophy, Psychology, Business.</li>
<li>Music, Film, Literature, Art.</li>
<li>Starcraft II, Gaming.</li>
</ul>	
</div>	
</div>
</div>

<div class="content_info" id="skills"> 
<div class="content_intent1">
<h4>Programming Skills</h4>
<div class="content_intent2">
<ul>
<li><i>Language: </i>C, C++, Python, Java, PHP, HMTL+CSS; Matlab, Mathematica, Javascipt, Shell.</li> 
<li><i>System/Platform: </i>Windows, Unix/Linux, Hadoop, Android.</li>
</ul> 
</div>
</div>
</div>

<div class = 'foot_note'><h6>The last update date of the site: {{ site.time | date_to_string }}.</h6></div>
