---
layout: default
title: Resources related to data mining and machine learning.
---
<h2> {{ page.title }} </h2>

<ul>
{% for post in site.posts %}
	{% if post.published == 'resource' %}
		<li> <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>
