$page_width: 777px;
$header_width: $page_width + 100px;
$header_left_width: 245px;
$header_right_witdth: 150px;
$header_min_height: 60px;
$header_navigation_left: 30px + $header_width - $header_left_width - $header_right_witdth;
$header_navigation_top: 72px;

html{
    background: #ddd;
	font-family: Helvetica,Verdana,Tahoma,'微软雅黑', "Microsoft YaHei",Geneva,sans-serif;
}

#header{
	margin: 10px auto;
	width: $header_width;
	min-height: $header_min_height;
}

#header #logo{
	float:left;
}

#header #logo span.header_right{
	position: relative;
	//left:  $header_width - $header_left_width - $header_right_witdth;
	left: 0;
	width: $header_right_witdth;
	height: 100px;
}

#header #logo span.header_right img{
	padding-bottom: 40px;
}

#header #navigation{
	position: relative;
	left: $header_navigation_left;
	top: $header_navigation_top;
	width: $header_width - $header_navigation_left;
}

#header #navigation .nav_section{
	margin: 0px;
	padding: 3px 3px 3px 3px;
	text-align:center;
	text-decoration:none;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	border: 1px solid #05232b;
	background: #666;
}

#header #navigation .nav_section a:link, #header #navigation .nav_section a:visited{
	color: #ccc;
}

#header #navigation .nav_section a:hover, #header #navigation .nav_section a:active{
	color: #fff;
}

.page{
    -moz-box-shadow: 2px 2px 8px 3px #888;
    -webkit-box-shadow: 2px 2px 8px 3px #888;
    box-shadow: 2px 2px 8px 3px #888;
    border: 1px solid #888;
    background: #fff;
    margin: 30px auto;
    padding: 6px 26px 6px 26px;
    width: $page_width;
    height: 100%;
}

.page .date{
	color: #ccc;
	font-size: 14px;
}

.page .section_title{
	color: #7f1184;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'times new roman',times,serif;
	margin: 10px auto;
}

.page #featured{
	margin: 0 2em 1em 2em;
}

a:link, a:visited {
	color: #0068b7;
	text-decoration: none;
}

a:hover, a:active{
	color: #c70067;
	text-decoration: none;
}

table
{
	border-collapse:collapse;
}

table, td, th
{
	border:1px solid #afafb0;
}

blockquote{
	color: #afafb0;
	font-style: italic;
}
