.page #spin img{
	float: right;
	width: 128px;
	height: 96px;
	margin: 10px auto;
}

body div.content {}
    body div.content code.has-jax {
        font: inherit;
        font-size: 100%;
        background: inherit;
        border: inherit;
        color: #000000;
    }

pre {
	background: #002b36 top left;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	border-radius: 0.4em;
	border: 1px solid #05232b;
	line-height: 1.45em;
	font-size: 13px;
	margin-bottom: 2.1em;
	padding: .8em 1em;
	color: #93a1a1;
	overflow: auto;
}
