---
layout: default
title: Just some pri stuffs
---

<ul>
{% for post in site.posts %}
	{% if post.published == 'pri' %}
		<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>
