<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/styles/css/style.css" type="text/css" rel="stylesheet" />
	<link href="/styles/css/graypage.css" type="text/css" rel="stylesheet" />
	<link href="/styles/css/pygments_default.css" media="screen" rel="stylesheet" />
	<title>{{ page.title }}</title>
</head>
<body>

	<div id="header">
		<div id="logo">
			<a href="/"><img src="/styles/img/header.png" /></a>
			<span class="header_right">
				<a target="_blank" href="/feed/atom.xml"><img src="/styles/img/rss.png" /></a>
			</span>
		</div>

		<div id="navigation">
			<span class="nav_section" id="about">
				<a href="/about" id="about" title="About">About</a>
			</span>
		</div>
	</div>

	<div class="page">
		<h2>{{ page.title }}</h2>
		<div class="date">{{ page.date | date_to_string }}

		{% if page.categories == empty %}
			{% if page.category != empty %}
			&nbsp;|&nbsp;{{ page.category }}
			{% endif %}
		{% else %}
			&nbsp;|
			{% for category in page.categories %}
			&nbsp;{{ category }}.
			{% endfor %}
		{% endif %}

		{% if page.tags == empty %}
			{% if page.tag != empty %}
			&nbsp;|&nbsp;{{ page.tag }}
			{% endif %}
		{% else %}
			&nbsp;|
			{% for tag in page.tags %}
			&nbsp;{{ tag }}.
			{% endfor %}
		{% endif %}
		
		</div>
		

		{{ content }}
	</div>
	
	{% if page.comments == true%}
	<div class="page">
		<br/>
		{% include disqus.liquid %}
	</div>
	{% endif %}
	
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="/styles/js/mathjax.js"></script>
</body>
</html>
